body {
    width: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 120px;
    display: flex;
    align-items: center;
    background: #A7C3CC;
    color: white;
    text-align: center;
    padding: 20px;
}

#header_conteudo {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#input-busca {
    width: 20%;
    display: flex;
    align-self: center;
    justify-self: flex-start;
    border: none;
    border-radius: 5px;
    padding: 7px;

}

#logo {
    width: 60%;
    height: 120px;
    display: flex;
    justify-self: center;
    justify-content: center;
}

nav {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.banner {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  border-radius: 5%;
  background-color: #fffeaf;
}

.banner img {
  width: 100%;
  object-fit: cover;
}

.container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.justified {
    text-align: justify;
}

a {
    text-decoration: none;
    color: black;
}

#line {
    width: 100%;
    height: 2px;
    background-color: black;
}

img {
    border-radius: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

tr{
    display: flex;
    gap: 20px;
}

td{
    margin: 10px;
}

/*Footer*/

footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    background-color: #A7C3CC;
}

.upper_footer {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 30px;
    gap: 20px;
}

.icones {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lower_footer {
    width: 70%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    gap: 20px;
}

#sobre_nos {
    width: 45%;
}

p {
    white-space: wrap;
}

.contato {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.lista_estudantes {
    display: flex;
    flex-direction: column;
}