body {
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

header {
  height: 120px;
  display: flex;
  align-items: center;
  background: #A7C3CC;
  color: white;
  text-align: center;
  padding: 20px;
}

#header_conteudo {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#input-busca {
  width: 20%;
  display: flex;
  align-self: center;
  justify-self: flex-start;
  border: none;
  border-radius: 5px;
  padding: 7px;

}

#logo {
  width: 60%;
  height: 120px;
  display: flex;
  justify-self: center;
  justify-content: center;
}

nav {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.caixa_seletora {
  width: 40%;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caixa_seletora a {
  text-align: center;
}

.img_transtorno {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.justified {
  text-align: justify;
}


/*Footer*/

footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  background-color: #A7C3CC;
}

.upper_footer {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 30px;
  gap: 20px;
}

.icone {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.lower_footer {
  width: 70%;
  display: flex;
  align-self: center;
  justify-content: space-between;
  gap: 20px;
}

#sobre_nos {
  width: 45%;
}

p {
  white-space: wrap;
}

.contato {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.lista_estudantes {
  display: flex;
  flex-direction: column;
}