
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', Calibri, sans-serif;
  font-size: 1.2em;
}

header {
  height: 120px;
  display: flex;
  align-items: center;
  background: #A7C3CC;
  padding: 20px;
}

#header_conteudo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#input-busca {
  width: 20%;
  padding: 7px;
  border: none;
  border-radius: 5px;
}

#logo img {
  height: 120px;
}

/* CONTAINER PRINCIPAL ONDE O JS INSERE O PROJETO */
#container {
  width: 70%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* CARROSSEL */
.container-slide {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
}

.carrossel-slide {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform .5s ease-in-out;
}

.container_img .img-slides {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

/* BOTÕES DO SLIDER */
.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 22px;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* IMAGENS DO PROCESSO */
.container_imgs {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.img_processo_projeto {
  width: 22%;
  border-radius: 15px;
}

/* SEPARADOR */
#line {
  width: 100%;
  height: 2px;
  background-color: #000;
}

/* IMAGENS FINAL */
.container_img {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.img_projeto {
  width: 45%;
  border-radius: 10px;
}

/* TEXTOS DESCRITIVOS */
.descricao {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.justified {
  text-align: justify;
  white-space: normal;
}

/* FOOTER */
footer {
  background: #A7C3CC;
  padding: 20px;
}

.upper_footer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icone {
  width: 50px;
  height: 50px;
}

.lower_footer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  gap: 20px;
}

.sobre_nos,
.lista_estudantes {
  width: 45%;
}