body {
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

header {
  height: 120px;
  display: flex;
  align-items: center;
  background: #A7C3CC;
  color: white;
  text-align: center;
  padding: 20px;
}

#header_conteudo {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#input-busca {
  width: 20%;
  display: flex;
  align-self: center;
  justify-self: flex-start;
  border: none;
  border-radius: 5px;
  padding: 7px;
}

#logo {
  width: 60%;
  height: 120px;
  display: flex;
  justify-self: center;
  justify-content: center;
}

nav {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 70px;
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.banner {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: #faf75d;
}

.banner img {
  width: 100%;
  object-fit: fill;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.justified {
  text-align: justify;
}

.container_imgs {
  width: 175%;
  height: 300px;
  display: inline-block;
  justify-content: space-evenly;
   gap: 20px;
}

#img_processo_projeto {
  width: 20%;
  height: 100%;
  border-radius: 20px;
  background-color: #eeddf8;
  gap: 20px;
}
#img_apoiar_se{
  width: 20%;
  height: 100%;
  border-radius: 20px;
  background-color: #9af3d5;
}
#img_educa {
  width: 20%;
  height: 100%;
  border-radius: 20px;
  background-color: #ffafff;
}
#line {
  width: 100%;
  height: 2px;
  background-color: black;
}

a {
  text-decoration: none;
  color: black;
}

.img_projeto {
  width: 45%;
  height: 100%;
  border-radius: 10px;
  background-color: #253C55;
}

.descricao {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 150px;
}


/*Footer*/

footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  background-color: #A7C3CC;
}

.upper_footer {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 30px;
  gap: 20px;
}

.icones {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lower_footer {
  width: 70%;
  display: flex;
  align-self: center;
  justify-content: space-between;
  gap: 20px;
}

#sobre_nos {
  width: 45%;
}

p {
  white-space: wrap;
}

.contato {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.lista_estudantes {
  display: flex;
  flex-direction: column;
}